<!DOCTYPE html>
<html lang="en">

<head>
    <title>Software Engineer</title>
    <link rel="shortcut icon" href="img/logo.png" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font GG -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.default.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Main css -->

    <link rel="stylesheet" href="/css/main.css">
    {{{_sections.css}}}

</head>

<body>
    {{>nav}}
    {{{body}}}
    {{>footer}}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{!--
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script> --}}
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    {{{_sections.js}}}

    <!-- Owl Carousel JS -->
    <script src="/js/owl.carousel.js"></script>
    <script>
        $('.owl-brand').owlCarousel({
            loop: true,
            margin: 10,
            dots: false,
            loop: true,
            autoplay: true,
            responsive: {
               0: {
                    items: 1,
                   
                },
                750: {
                    items: 3,
                   
                },
                1000: {
                    items: 5,
            
                },

            }
        })
    </script>
    <script>
        $('.owl-specialOffer').owlCarousel({
            loop: true,
            margin: 10,
            dots: false,
            responsive: {
                0: {
                    items: 1,
                    nav:false,
                    dots:true
                },
                750: {
                    items: 2,
                    nav: false,
                    dots:true
                },
                1000: {
                    items: 3,
                    nav: true
                },

            }
        })
    </script>
    <script src="../../views/public/js/homepage.js"></script>
</body>

</html>