<footer>
  <div class="container p-4">
    <div class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio
        earum repellat quaerat voluptatibus placeat nam, commodi optio pariatur
        est quia magnam eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </div>
    <hr class="mb-5" />
    <div>
      <div class="row footer__congTy">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5>Công ty</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-blue">Giới thiệu</a>
            </li>
            <li>
              <a href="#!" class="text-blue">Trợ giúp</a>
            </li>
            <li>
              <a href="#!" class="text-blue">Điều khoản sử dụng</a>
            </li>
            <li>
              <a href="#!" class="text-blue">Bảo mật & chính sách</a>
            </li>
            <li>
              <a href="#!" class="text-blue">Liên hệ</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 footer__app">
          <h5>Tải App</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-icon btn-cus"><i
                  class="fab fa-apple"
                ></i>
                IOS</a>
            </li>
            <li>
              <a href="#!" class="text-icon btn-cus"><i
                  class="fab fa-android"
                ></i>
                ANDROID</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 footer__logo">
          <img class="w-50" src="img/logo.png" alt="" />

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#!"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li>
              <a href="#!"><i class="fab fa-google-plus-square"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-right footer__diachi">
          <h5>Địa chỉ</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <span>Công ty cổ phần Samsan</span>
            </li>
            <li>
              <span>Số 1, Võ Vân Ngân, thành phố Thủ Đức</span>
            </li>
            <li>
              <span>Giấy CN ĐKDN số: 0311828036
              </span>
            </li>
            <li>
              <span>Email: info@bg.vn</span>
            </li>
            <li>
              <img class="w-75" src="img/dadk.png" alt="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
