<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Guildline</title>

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Bootstrap 4 -->
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- JQuery UI -->
	<link rel="stylesheet" href="css/jquery-ui.min.css">

	<!-- Animate -->
	<!-- <link rel="stylesheet" href="css/animate.css"> -->

	<!-- My CSS -->
	<link rel="stylesheet" href="css/modal.css">

	<link rel="stylesheet" href="css/style4.css">

	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>

	<div class="wrapper">
		<!-- Sidebar Holder -->
		<nav id="sidebar">
				<div class="sidebar-header">
					<h3>GuildLine</h3>
					<strong>GL</strong>
				</div>
	
				<ul class="list-unstyled components">
					<li class="active">
						<a href="#">
							<i class="fa fa-home"></i>
							Home
						</a>
					</li>
					<li>
						<a href="#booking">
							<i class="fa fa-briefcase"></i>
							Booking
						</a>
					</li>
					<li>
						<a href="#favourite">
							<i class="fa fa-files-o"></i>
							Favourite List
						</a>
					</li>
					<li>
						<a href="#designMenu">
							<i class="fa fa-link"></i>
							Design menu
						</a>
					</li>
					<li>
						<a href="#manage">
							<i class="fa fa-paperclip"></i>
							Manage
						</a>
					</li>
					<li>
						<a href="#contact">
							<i class="fa fa-paper-plane"></i>
							Contact
						</a>
					</li>
				</ul>

		</nav>

		<!-- Page Content Holder -->
		<div id="content">
			<nav class="navbar navbar-default">
				<div class="container-fluid">

					<div class="navbar-header">
						<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
							<i class="glyphicon glyphicon-align-left"></i>
							<span> View more</span>
						</button>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Page</a></li>
							<li><a href="#">Page</a></li>
							<li><a href="#">Page</a></li>
							<li><a href="#">Page</a></li>
						</ul>
					</div>
				</div>
			</nav>


			<div class="container">
		<!-- Booking -->
				<div class="page__content pt-3 " id="booking">
					<h2 class="pt-3">HOW TO BOOK TABLE NOW?</h2>
					<p class="font-weight-bold">Step 1</p>
					<span>Choose the restaurant you want to go and  <b>Click </b> on the "Booking now" button </span>
					<img src="./img/booking1.PNG" class="img-fluid " alt="">
					<p class="font-weight-bold">Step 2</p>
					<span>Click on the icon <b>phone</b> </span> <br>
					<img src="./img/boooking2.PNG"class="img-fluid " alt="">
					<div class="grid">
						<div class="row">
							<div class="col-md-6">
								<div class="grid__content">
									<p class="font-weight-bold">Step 3</p>
									<span>Enter full of your information in this <b>form</b> and click <b>"Đặt chỗ"</b>  button </span> <br>
									<img src="./img/booking3.PNG" class="img-fluid " style="height: 500px;" alt="">
								</div>
							</div>
							<div class="col-md-6">
								<div class="grid__content">
									<p class="font-weight-bold">Step 4</p>
									<span>Click the <b>"cập nhập tài khoản"</b>  button</span> <br>
									<img src="./img/booking4.PNG" class="img-fluid" style="height: 300px;" alt="">
								</div>
							</div>
						</div>
					</div>			
					<p class="font-weight-bold">Step 5</p>
					<span>Click the <b>"thông tin đơn hàng"</b> button to see your booking and Click <b>"Hủy"</b> if you want cancel book</span> <br>
					<img src="./img/booking5.PNG" class="img-fluid" alt="">
					<p class="font-weight-bold">Step 6</p>
					<span>Click the <b>"Đánh giá"</b> button to go to voting form and click <b>Submit</b> to add your rating for this restaurant </span> <br>
					<img src="./img/rating.PNG" class="img-fluid" alt="">
				</div>
		<!-- Favourite -->
				<div class="page__content pt-3" id="favourite">
					<h2 class="pt-3">HOW TO ADD AND SEE MY FAVOURITE LIST?</h2>
					<p class="font-weight-bold">Step 1</p>
					<span>Choose the restaurant you want to go and  <b>Click </b> on icon heart button </span> <br>
					<img src="./img/favourite1.PNG" class="img-fluid " style="height: 300px;" alt="">
					<p class="font-weight-bold">Step 2</p>
					<span>Click on the <b>"Danh sách yêu thích"</b> to go to the your favourite list. And click to icon heart to <b>remove</b> from this list</span> <br>
					<div class="grid">
						<div class="row  no-gutters ">
							<div class="col-md-3 ">
								<img src="./img/favourite2.PNG"class="img-fluid " alt="">
							</div>
							<div class=" col-md-9">
								<img src="./img/favourite3.PNG" class="img-fluid "  alt="">
							</div>
						</div>	
					</div>	
				</div>
<!-- Design menu -->
				<div class="page__content pt-3" id="designMenu">
					<h2 class="pt-3">HOW TO MANAGER DESGIN MENU FOR RESTAURANT?</h2>
					<p class="font-weight-bold">Step 1</p>
					<span>CLick <b>"Quản lý nhà hàng"</b> button to go to the disgn menu page </span> <br>
					<img src="./img/desginMenu.PNG" class="img-fluid " style="height: 300px;" alt="">
					<div class="grid">
						<div class="row  no-gutters ">
							<div class="col-md-3 ">
								<p class="font-weight-bold">Step 2</p>
								<span>Click on the <b>"Design menu"</b><br>
								<img src="./img/design2.PNG" class="img-fluid alt=">
							</div>
							<div class=" col-md-9">
								<p class="font-weight-bold">Step 2</p>
								<span>Click on the <b>"Choose"</b> button to confirm design menu for this restaurant <br>
									<img src="./img/design3.PNG" class="img-fluid alt=">
							</div>
						</div>	
					</div>
					<p class="font-weight-bold">Step 3</p>
					<span>Choose type of food and enter full information foods. Then click <b>"ADD"</b> button to add food.
					Click <b>SAVE</b> to save the information foods and <b>CANCEL</b> to cancel adding food in menu </span> <br>
					<img src="./img/design4.PNG" class="img-fluid " alt="">	
				</div>
			</div>

		</div>
	</div>
	<a href="#" class="backToTop cd-top text-replace js-cd-top">
			<i class="fa fa-angle-up"></i>
		</a>
   

	<!-- Bootstrap -->
	<script src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="js/popper.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"
	integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ=="
	crossorigin="anonymous"></script>


	<script type="text/javascript">
		$(document).ready(function () {
			$('#sidebarCollapse').on('click', function () {
				$('#sidebar').toggleClass('active');
			});
		});
	</script>
	    <script src="./js/main.js"></script>
		<script src="./js/util.js"></script>
</body>

</html>