{{#section 'css'}}
<link rel="stylesheet" href="css/voucherPage.css" />
{{/section}}
{{#section 'js'}}

<script src="js/manager.js"></script>
{{/section}}
<div class="container mt-4">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Voucher </h3>
				{{!-- <div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div> --}}
			</div>
			<div class="card-body">
				<form method="POST">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="text" id="voucher-key" name="vouKey"  class="form-control" placeholder="Voucher">

					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-sort-numeric-up"></i></span>
						</div>
						<input class="form-control" type="number" name="vouQuantity" min="1" max="10"
							placeholder="Quantity">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-percentage"></i></span>
						</div>
						<input class="form-control" type="number" name="vouValue" min="5" max="20"
							placeholder="Percentage">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-utensils"></i></span>
						</div>
						<select class="form-control" name="resID">
							{{#each this.Restaurants}}
							<option value="{{resID}}">{{resName}}</option>

							{{/each}}

						</select>
					</div>
					<div class="form-group">
						<a id="voucher-generate-btn" class="btn btn-secondary float-right login_btn">Generate
						</a>
						<button type="submit" class="mr-2 btn btn-primary float-right login_btn">Save
						</button>

					</div>
					{{!-- <div class="form-group">
						<button type="submit" value="Generate" class="btn btn-primary float-right login_btn">Save
						</button>
					</div> --}}
				</form>
			</div>
			{{!-- <div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="#">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div> --}}
		</div>
	</div>
</div>